@media only screen and (min-width: 768px) {
    
    html, body {
        height: 100%;
        padding: 0;
        margin: 0;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    /* NAVIGATION STYLING */

    nav {
        flex: 1 0 auto;
        display: flex;
        padding: 0 10px;
        margin: 0;
        width: 98%;
        max-height: 44px;
        height: 44px;
        justify-content: space-between;
        align-items: center;
    }

    nav a {
        text-decoration: none;
        color: black;
    }

    h1 {
        margin: 0;
        padding: 0;
    }

    .icon {
        height: 20px;
        margin-right: 0.3em;
    }

    .icons {
        width: 50px;
        display: flex;
        justify-content: flex-end;
    }

    .menu {
        margin-left: 0.3em;
    }

    /* MAIN */

    .background {
        flex: 1 0 auto;
    }

    /* IMPRESSUM */

    footer {
        flex-shrink: 0;
        background-color: #81a9d7;
        /* padding: 20px; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 10px 10px 0 0;
        padding-bottom: 2em;
    }

    footer a {
        text-decoration: none;
        color: black;
    }

    .contact {
        /* border: 2px solid black; */
        margin: 0;
        padding: 0 0 0 9em;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .contact-item {
        display: flex;
        /* flex-direction: row; */
        align-items: center;
        justify-content: flex-start;
    }

    .contact h4 {
        margin: 0;
    }

    .impressum {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        /* border: 2px solid black; */
        margin: 0;
        padding: 0;
    }

    .impressum p {
        margin-top: 0;
    }
}

@media only screen and (max-width: 768px) {
    
    html, body {
        height: 100%;
        padding: 0;
        margin: 0;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    /* NAVIGATION STYLING */

    nav {
        flex: 1 0 auto;
        display: flex;
        padding: 0 10px;
        margin: 0;
        width: 98%;
        max-height: 44px;
        height: 44px;
        justify-content: space-between;
        align-items: center;
    }

    nav a {
        text-decoration: none;
        color: black;
    }

    h1 {
        margin: 0;
        padding: 0;
    }

    .icon {
        height: 20px;
        margin-right: 0.3em;
    }

    .icons {
        width: 50px;
        display: flex;
        justify-content: flex-end;
    }

    .menu {
        margin-left: 0.3em;
    }

    /* MAIN */

    .background {
        flex: 1 0 auto;
    }

    /* IMPRESSUM */

    footer {
        flex-shrink: 0;
        background-color: #81a9d7;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 10px 10px 0 0;
        padding-bottom: 2em;
    }

    footer a {
        text-decoration: none;
        color: black;
    }

    .contact {
        /* border: 2px solid black; */
        margin: 0;
        padding: 0 0 0 9em;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .contact-item {
        display: flex;
        /* flex-direction: row; */
        align-items: center;
        justify-content: flex-start;
    }

    .contact h4 {
        margin: 0;
    }

    .impressum {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        /* border: 2px solid black; */
        margin: 0;
        padding: 0;
    }

    .impressum p {
        margin-top: 0;
    }
}

@media only screen and (min-width: 1200px) {
       
    html, body {
        height: 100%;
        padding: 0;
        margin: 0;
    }

    html {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body {
        background-color: white;
        width: 1200px;
        display: flex;
        flex-direction: column;
    }

    /* NAVIGATION STYLING */

    nav {
        flex: 1 0 auto;
        display: flex;
        padding: 0 10px;
        margin: 0;
        width: 98%;
        max-height: 44px;
        height: 44px;
        justify-content: space-between;
        align-items: center;
    }

    nav a {
        text-decoration: none;
        color: black;
    }

    h1 {
        margin: 0;
        padding: 0;
    }

    .icon {
        height: 20px;
        margin-right: 0.3em;
    }

    .icons {
        width: 50px;
        display: flex;
        justify-content: flex-end;
    }

    .menu {
        margin-left: 0.3em;
    }

    /* MAIN */

    .background {
        flex: 1 0 auto;
    }

    /* IMPRESSUM */

    footer {
        flex-shrink: 0;
        background-color: #81a9d7;
        /* padding: 20px; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 10px 10px 0 0;
        padding-bottom: 2em;
    }

    footer a {
        text-decoration: none;
        color: black;
    }

    .contact {
        /* border: 2px solid black; */
        margin: 0;
        padding: 0 0 0 9em;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .contact-item {
        display: flex;
        /* flex-direction: row; */
        align-items: center;
        justify-content: flex-start;
    }

    .contact h4 {
        margin: 0;
    }

    .impressum {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        /* border: 2px solid black; */
        margin: 0;
        padding: 0;
    }

    .impressum p {
        margin-top: 0;
    }
}